openapi: 3.0.0
info:
  title: GovInfo.gov API
  description: API for accessing U.S. government publications and information from the Government Publishing Office
  version: 1.0.0
servers:
  - url: https://www.govinfo.gov
    description: Production server
paths:
  /bulkdata:
    get:
      summary: Get information about available bulk data collections
      responses:
        '200':
          description: List of available bulk data collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      type: string
                    example:
                      - "CFR"
                      - "Federal Register"
                      - "US Code"
                      - "Public Laws"
                      - "Private Laws"
                      - "Statutes at Large"
                      - "Congressional Record"
  /bulkdata/{collection}:
    get:
      summary: Get data for a specific bulk data collection
      parameters:
        - name: collection
          in: path
          required: true
          schema:
            type: string
            enum:
              - CFR
              - FR
              - USCODE
              - PUBLICLAWS
              - PRIVATELAWS
              - STATUTE
              - CREC
              - BILLS
      responses:
        '200':
          description: Collection data
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    type: string
                  status:
                    type: string
                  note:
                    type: string
        '404':
          description: Collection not found
  /bulkdata/{collection}/{year}:
    get:
      summary: Get data for a specific bulk data collection and year
      parameters:
        - name: collection
          in: path
          required: true
          schema:
            type: string
            enum:
              - CFR
              - FR
              - USCODE
              - PUBLICLAWS
              - PRIVATELAWS
              - STATUTE
              - CREC
              - BILLS
        - name: year
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{4}$'
      responses:
        '200':
          description: Collection data for specific year
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    type: string
                  year:
                    type: string
                  status:
                    type: string
                  note:
                    type: string
        '404':
          description: Collection or year not found
  /link:
    get:
      summary: Create a link to specific content using the link service
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
            description: Collection name (e.g., CFR, FR, USCODE)
        - name: congress
          in: query
          required: false
          schema:
            type: string
            description: Congress number (for bills)
        - name: billType
          in: query
          required: false
          schema:
            type: string
            description: Bill type (e.g., hr, s, hjres)
        - name: billNumber
          in: query
          required: false
          schema:
            type: string
            description: Bill number
        - name: title
          in: query
          required: false
          schema:
            type: string
            description: Title number (for CFR)
        - name: part
          in: query
          required: false
          schema:
            type: string
            description: Part number (for CFR)
        - name: section
          in: query
          required: false
          schema:
            type: string
            description: Section number
        - name: granuleId
          in: query
          required: false
          schema:
            type: string
            description: Granule ID for specific document
        - name: packageId
          in: query
          required: false
          schema:
            type: string
            description: Package ID for specific document
        - name: page
          in: query
          required: false
          schema:
            type: string
            description: Page number
        - name: gridPosition
          in: query
          required: false
          schema:
            type: string
            description: Grid position
      responses:
        '200':
          description: URL to the requested content
          content:
            text/plain:
              schema:
                type: string
                format: uri
  /rss/{collection}.xml:
    get:
      summary: Get RSS feed for a specific collection
      parameters:
        - name: collection
          in: path
          required: true
          schema:
            type: string
            description: Collection name
      responses:
        '200':
          description: RSS feed for the collection
          content:
            application/xml:
              schema:
                type: string
        '404':
          description: Collection not found
components:
  schemas:
    BulkDataCollection:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        formats:
          type: array
          items:
            type: string
        lastModified:
          type: string
          format: date-time
    LinkServiceResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
        collection:
          type: string
        packageId:
          type: string
        granuleId:
          type: string
        title:
          type: string
        part:
          type: string
        section:
          type: string
        page:
          type: string
        congress:
          type: string
        billType:
          type: string
        billNumber:
          type: string