apiVersion: 1

datasources:
  # Prometheus Data Source
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"

  # Loki Data Source for Logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: "${DS_PROMETHEUS}"
          matcherRegex: "traceID=(\\w+)"
          name: "TraceID"
          url: "${__value.raw}"

  # OpenSearch Data Source
  - name: OpenSearch
    type: opensearch
    access: proxy
    url: http://opensearch:9200
    basicAuth: true
    basicAuthUser: "{{ opensearch_username }}"
    secureJsonData:
      basicAuthPassword: "{{ opensearch_password }}"
    jsonData:
      logLevelField: ""
      logMessageField: "message"
      maxConcurrentShardRequests: 5
      timeField: "@timestamp"

  # PostgreSQL Data Source
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    user: "{{ postgres_user }}"
    database: "{{ postgres_db }}"
    basicAuth: false
    isDefault: false
    editable: true
    secureJsonData:
      password: "{{ postgres_password }}"
    jsonData:
      sslmode: "disable"
      postgresVersion: 1500
      timescaledb: false
      maxOpenConns: 10
      maxIdleConns: 10
      connMaxLifetime: 14400

  # Qdrant Data Source (via JSON API)
  - name: Qdrant
    type: grafana-simple-json-datasource
    access: proxy
    url: http://vector-bridge:8000
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "30s"

  # Node Exporter
  - name: Node Exporter
    type: prometheus
    access: proxy
    url: http://node-exporter:9100
    isDefault: false
    editable: true

  # cAdvisor
  - name: cAdvisor
    type: prometheus
    access: proxy
    url: http://cadvisor:8080
    isDefault: false
    editable: true

  # Alertmanager
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    jsonData:
      implementation: "prometheus"
      handleGrafanaManagedAlerts: true
