{
  "apiVersion": 1,
  "providers": [
    {
      "name": "Caddy",
      "orgId": 1,
      "folder": "Caddy",
      "type": "file",
      "disableDeletion": false,
      "editable": true,
      "allowUiUpdates": true,
      "options": {
        "path": "/etc/grafana/provisioning/dashboards/caddy"
      }
    }
  ]
}
