filebeat.inputs:
- type: container
  paths: 
    - '/var/lib/docker/containers/*/*.log'
  processors:
    - add_docker_metadata: ~
  json.keys_under_root: true
  json.add_error_key: true
  json.message_key: log

- type: log
  enabled: true
  paths:
    - /var/log/*.log
    - /var/log/*/*.log
  fields:
    type: syslog

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
  - drop_event.when:
      condition:
        or:
          - equals:
              log.level: "debug"
          - equals:
              log.level: "trace"

output.logstash:
  hosts: ["logstash:5044"]
  ssl.enabled: false
  bulk_max_size: 50
  timeout: 60

setup.ilm.enabled: false
setup.template.enabled: false

monitoring:
  enabled: true
  cluster_uuid: ${HOSTNAME}
  logs: true
  metrics:
    enabled: true
    period: 10s

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644
